[package]
name = "application"
version = "0.1.0"
edition = "2021"

[dependencies]
domain = { path = "../domain" }
shared = { path = "../shared" }
async-trait = "0.1"
anyhow = "1.0"
uuid = { version = "1.0", features = ["serde", "v4"] }
